<md-content aria-label="Add A Site" flex layout-margin layout-padding layout="row" layout-align="center center">
    <form class="create-form" flex style="max-width: 600px;">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Manage A New Domain</h2>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-padding>
            <md-input-container flex>
                <h3>Domain Information</h3>
                <small>Enter your domain information and select the services you'd like to monitor.</small>
                <label>Domain To Manage</label>
                <input name="site['Domain']" ng-model="site.Domain" />
            </md-input-container>
            <div layout="column">
                <h3>Primary Application</h3>
                <small>Please chose the primary application we should monitor on this domain.</small>
                <div layout="row" layout-padding>
                    <md-card class="application-card" ng-class="{'active': type.Id == application.type}" ng-click="selectApplicationType(type)" ng-repeat="type in applicationTypes" layout-padding layout-margin>
                        {{type.Name}}
                    </md-card>
                </div>
            </div>
        </md-content>
        <div class="md-actions" layout="row" layout-align="space-around center">
            <span flex></span>
            <md-button ng-click="add(site)" class="md-primary md-raised" aria-label="Add Site">
                Add Site
            </md-button>
        </div>
    </form>
</md-content>