<!-- start header -->
<md-toolbar class="md-default-theme" layout-gt-md="row" layout-md="row" layout-align="space-between center">
    <div flex layout="row" layout-align="start center">
        <md-button class="md-accent md-button md-default-theme md-button-mini" ng-click="toggleSites()" aria-label="View Sites">
            <ng-md-icon icon="menu" style="fill: #FFFFFF" size="25"></ng-md-icon>
            <md-tooltip>Sites</md-tooltip>
        </md-button>
        <a href="/#/timeline" class="logo-text" layout="column">
            Overseer
            <span class="logo-subhead">
                Site Management
            </span>
        </a>
    </div>
    <div flex layout-align="end center" layout="row">
        <md-button class="md-accent md-button md-default-theme md-button-mini" href="#/settings/account" ui-sref="settings.account" aria-label="Account Settings">
            <ng-md-icon icon="settings" style="fill: #fff" size="25"></ng-md-icon>
            <md-tooltip>Account Settings</md-tooltip>
        </md-button>
        <md-button class="md-accent md-button md-default-theme md-button-mini" href="/user/logout/" aria-label="Log Out">
            <ng-md-icon icon="exit_to_app" style="fill: #fff" size="25"></ng-md-icon>
            <md-tooltip>Log Out</md-tooltip>
        </md-button>
    </div>
</md-toolbar>